<h1>Topics</h1>
 
 <div class="row">
   <div class="col-md-8">
 <!-- #7 -->
     <% @topics.each do |topic| %>
       <div class="media">
         <div class="media-body">
           <h4 class="media-heading">
 <!-- #8 -->
             <%= link_to topic.name, topic %>
           </h4>
           <small>
             <%= topic.description %>
           </small>
         </div>
       </div>
     <% end %>
   </div>
   <div class="col-md-4">
 <!-- #9 -->
     <%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>
   </div>
 </div>