<!-- <h1>Advertisements#index</h1>
<p>Find me in app/views/advertisements/index.html.erb</p>
 -->

<h1>All ads</h1>
<% @advertisements.each do |ad| %>
  <div class="media">
    <div class="media-body">
   	  <h4 class="media-heading">
   	    <%= link_to "$#{ad.price}: #{ad.title}", ad%>
   	  </h4>
   	</div>
  </div>
<% end %>
