<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<!-- params -->
<!-- Posts#show
Find me in app/views/posts/show.html.erb

{"controller"=>"posts", "action"=>"show", "id"=>"52"} -->

<h1><%= @post.title %></h1>
<p><%= @post.body %></p>