// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	color: red
}

.social-btn {
	color: #00aced;
	height: 20px;
	padding: 5 5 5 5;
	width: 100px;
	text-align: center;
}
